# Python cache e arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

# Pastas de dados grandes (opcional)
data/*.csv
data/*.xlsx

# Ambiente virtual
venv/
.env/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.out
*.tmp
